head, body, div, section, img, nav,p, header, ul, figure, button{
	margin: auto 0;
	padding:0;
}
body{
	color: #707070 ;
	width: 100%;
	overflow-x:hidden;
}
#box-1{
	width: 100%;
	font-family: 'Lato', sans-serif;
  vertical-align: bottom;
  height: 100%;
  background-color: white;
}
#box-1>img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

#box-2>img{
  width: 100%;
  vertical-align: bottom;
}

#box-2{
background-color: white;

}
#box-3{
	width: 100%;
	text-align: center;
  font-family: 'Lato', sans-serif;
  vertical-align: bottom;
}
#box-3>button{
	height: 9em;
	font-size: 1.6em;
  width: 100%;
  background-color: #707070;
  color: white;
  letter-spacing: .2em;
  border-radius: .4em;

}

#box-4{
	font-size: 3em;
  background-color: white;
  padding-top: .8em;
  padding-bottom: .8em;
  color: black;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
#a{
  padding-top: .6em;
  padding-bottom: .6em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: white;
  vertical-align: bottom;

}
#b{
  max-width: 100%;;
  background-color: white;
  vertical-align: bottom;
  height: 9em;
}
form{
  font-size: 5em;
  float: left;
  width: 100%;
  height: 5em;
}
#send{
  width: 7em;
  height: 2em;
  font-size: .6em;
}
.entry-content{
  width:100%;
  max-width: 100%;
  font-size: 1em;
  background-color: white;
}
.entry-content>p{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.entry-content>img{
  height: 8em;
  width: 6em;
}
#d>p{
  padding-top: 1em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  max-width: 100%;
}
#d{
  padding-bottom: 1em;
  background-color: white;
  font-size: 6em;
}